{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ blog.title }}</h1>
<p>The content: {{ blog.content }}</p>
<div class="row">
    <div class="col-md-4">
        <h5>About the blog:</h5>
        <p>Description: {{ blog.description }}</p>
        <p>Updated at: {{ blog.updated_at }}</p>
        <p>Created at: {{ blog.created_at }}</p>
        <br>
        <h5>This blog is related with following categories:</h5>
        {% if categories %}
            {% for category in categories %}
              <a class="nav-link" href="{% url 'category_detail' category.pk %}">{{ category }}</a>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}