{% extends "base.html" %}
{% load static %}
{% block page_content %}

<h1>Here are the posts</h1>
<a href="{% url 'create_post' %}"> ADD YOUR OWN POST </a>
<div class="row">
{% for post in posts %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content|truncatechars:60 }}</p>
                <p class="card-text">Updated_at {{ post.updated_at }}</p>
                <p class="card-text">Created at {{ post.created_at }}</p>

                <a href="{% url 'post_detail' post.pk %}"
                   class="btn btn-primary">
                    Learn more about this post
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}